node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

frontend/.next
frontend/out
frontend/.vercel

backend/.next
backend/dist
backend/build
backend/npm-debug.log
backend/yarn-error.log

.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

/generated/prisma
/prisma/dev.db
/prisma/.env

coverage/
coverage-*/
tmp/
temp/
*.log
secrets/
